.vscode
*.code-workspace
data/ecoregions/
data/input/landcover_stack.tif
data/jld2
data/occurrences/
data/presence_absence/
data/results/
data/sdms/
JuliaSysimage.so
narval_tests.sh
shapefiles/canada/
shapefiles/ecoregions/
xtras/*
