data/sdms/*
.vscode
*.code-workspace
JuliaSysimage.so
data/jld2
shapefiles/canada/
data/occurrences/*.csv
data/presence_absence/*.tif
narval_tests.sh
xtras/*
data/results/
shapefiles/ecoregions/
data/ecoregions/
